{% extends "base.html" %}

{% block content %}

<div class="container">

<h2>About Neighborhood Buzz</h2>   

<p>Neighborhood Buzz is an experimental system that lets you find out what people in your neighborhood, and neighborhoods in cities around the country, are talking about on Twitter.  When you select a neighborhood from a city map, Neighborhood Buzz displays the main topics that people in that neighborhood are discussing &mdash; politics, sports, food, etc.  &mdash; and then lets you drill down to look at the individual tweets in those categories.</p>
 
<p>The system also lets you see, at a glance, how much people in different neighborhoods in a city are talking about a given topic through a "heat map" overlay on the city’s geographical map.</p>
 
<p>Neighborhood Buzz uses geo-located tweets as input.  Only a small fraction of tweets currently have location tags, but the number is sufficient to provide tens or hundreds of tweets per neighborhood per day.</p>
 
<p>The topical categorizer that the system uses is statistical &mdash; which means that even though we show only the tweets we are most confident the system is categorizing correctly, it still sometimes makes mistakes.  You can let us know when the system has incorrectly categorized a tweet, and eventually that will help us to improve the system.</p>
 
<p>Neighborhood Buzz was originally developed at Northwestern University Knight Lab in our joint projects class in technology and journalism, involving students and faculty from the Medill School of Journalism and the McCormick School of Engineering, Dept. of Electrical Engineering and Computer Science, at Northwestern.  It was then re-architected and further developed at the Knight Lab.</p>
 
<p>Initial concept: Larry Birnbaum</p>
 
<p>Student prototyping team: Sarah Adler, David Cooperberg, Karthic Hariharan, Basil Huang</p> 
 
<p>Faculty advisors: Larry Birnbaum and Jeremy Gilbert</p>
 
<p>Developer: Jennifer Wilson</p>
 
<p>Topic categorizer: Shawn O'Banion</p>
 
<p>Engineering Director: Joe Germuska</p>
 
<p>Design: Miranda Mulligan, Aaron Salmon, Rebecca Lai</p>

</div>


{% endblock %}

